.dateWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 13px;
}
.date > span {
  padding: 0 20px;
}

.dateWrapper img {
  position: absolute;
  bottom: 0;
  right: 37px;
}
