<div class="wrapper fullWidth">
  <img
    class="previewProduct"
    src="../../assets/restapp-pizza.png"
    alt="Product Preview"
  />
  <nav class="productNavBar">
    <ul>
      <li>
        <a href="#">
          <img src="../../assets/restapp-pizza-icon.svg" alt="Pizza" />
          <p>PIZZA</p></a
        >
      </li>
      <li>
        <a href="#">
          <img src="../../assets/restapp-snack-icon.svg" alt="Snack" />
          <p>SNACK</p></a
        >
      </li>
      <li>
        <a href="#">
          <img src="../../assets/restapp-coffee-icon.svg" alt="Coffee" />
          <p>COFFEE</p></a
        >
      </li>

      <li>
        <a href="#">
          <img src="../../assets/restapp-alcohol-icon.svg" alt="Alcohol" />
          <p>ALCOHOL</p></a
        >
      </li>
    </ul>
  </nav>
</div>
