<div class="wrapper fullWidth">
  <img
    class="previewProduct"
    src="../../assets/restapp-pizza.png"
    alt="Product Preview"
  />
  <div class="mainScreenBG">
    <nav class="productNavBar">
      <ul>
        <li>
          <a href="#">
            <img src="../../assets/restapp-pizza-icon.svg" alt="Pizza" />
            <p>PIZZA</p></a
          >
        </li>
        <li>
          <a href="#">
            <img src="../../assets/restapp-snack-icon.svg" alt="Snack" />
            <p>SNACK</p></a
          >
        </li>
        <li>
          <a href="#">
            <img src="../../assets/restapp-coffee-icon.svg" alt="Coffee" />
            <p>COFFEE</p></a
          >
        </li>

        <li>
          <a href="#">
            <img src="../../assets/restapp-alcohol-icon.svg" alt="Alcohol" />
            <p>ALCOHOL</p></a
          >
        </li>
      </ul>
    </nav>
    <section class="menuList">
      <div id="pizzaMenu">
        <ul>
          <li><a href="#">The Original: Neapolitan</a></li>
          <li>California Style</li>
          <li>Chicago Deep Dish (and Stuffed)</li>
          <li>Chicago This Crust</li>
          <li>Detroit Style</li>
          <li>New England Greek</li>
          <li>New York Thin Crust</li>
          <li>St. Louis Style</li>
          <li>Cologne Style</li>
          <li>New Fish (Coder Style)</li>
          <li>The Original: Neapolitan</li>
          <li>California Style</li>
          <li>Chicago Deep Dish (and Stuffed)</li>
          <li>Chicago This Crust</li>
          <li>Detroit Style</li>
          <li>New England Greek</li>
          <li>New York Thin Crust</li>
          <li>St. Louis Style</li>
          <li>Cologne Style</li>
          <li>New Fish (Coder Style)</li>
          <li>The Original: Neapolitan</li>
          <li>California Style</li>
          <li>Chicago Deep Dish (and Stuffed)</li>
          <li>Chicago This Crust</li>
          <li>Detroit Style</li>
          <li>New England Greek</li>
          <li>New York Thin Crust</li>
          <li>St. Louis Style</li>
          <li>Cologne Style</li>
          <li>New Fish (Coder Style)</li>
        </ul>
      </div>
      <!-- <div id="snackMenu">
      <ul>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
        <li>Snack1</li>
      </ul>
    </div>
    <div id="coffeeMenu">
      <ul>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
        <li>Coffee</li>
      </ul>
    </div>
    <div id="alcoholMenu">
      <ul>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
        <li>Kölsch</li>
      </ul>
    </div> -->
    </section>
  </div>
</div>
