.wrapper,
.wrapper > img {
  width: 100%;
}

.mainScreenBG {
  background-image: url(../../assets/design_sucks.png);
}

.productNavBar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 18px 44px;
  margin: 0;
}

.productNavBar > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productNavBar > ul > li > a:focus {
  border-bottom: 2px solid #ccc;
}
.productNavBar > ul > li > a:active {
  border-bottom: 2px solid #ccc;
}

.productNavBar p {
  margin: 0;
  padding-top: 6px;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 13px;
}

.menuList ul {
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 200px;
  max-width: 100%;
  padding: 0;
}

.menuList li {
  padding-bottom: 10px;
  font-size: 14px;
  width: 100%;
  line-height: 19px;
}

.menuList a {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.menuList a:focus {
  border-left: 2px solid #ccc;
}
.menuList a:active {
  border-left: 2px solid #ccc;
}

.menuList {
  padding: 0 37px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  height: 5px;
}
