<div class="wrapper fullWidth">
  <div class="mainScreenBG">
    <section class="menuList">
      <div id="pizzaMenu">
        <ul>
          <li><a href="#">The Original: Neapolitan</a></li>
          <li><a href="#">California Style</a></li>
          <li><a href="#">Chicago Deep Dish (and Stuffed)</a></li>
          <li><a href="#">Chicago This Crust</a></li>
          <li><a href="#">Detroit Style</a></li>
          <li><a href="#">New England Greek</a></li>
          <li><a href="#">New York Thin Crust</a></li>
          <li><a href="#">St. Louis Style</a></li>
          <li><a href="#">Cologne Style</a></li>
          <li><a href="#">New Fish (Coder Style)</a></li>
          <li><a href="#">The Original: Neapolitan</a></li>
          <li><a href="#">California Style</a></li>
          <li><a href="#">Chicago Deep Dish (and Stuffed)</a></li>
          <li><a href="#">Chicago This Crust</a></li>
          <li><a href="#">Detroit Style</a></li>
          <li><a href="#">New England Greek</a></li>
          <li><a href="#">New York Thin Crust</a></li>
          <li><a href="#">St. Louis Style</a></li>
          <li><a href="#">Cologne Style</a></li>
          <li><a href="#">New Fish (Coder Style)</a></li>
          <li><a href="#">The Original: Neapolitan</a></li>
          <li><a href="#">California Style</a></li>
          <li><a href="#">Chicago Deep Dish (and Stuffed)</a></li>
          <li><a href="#">Chicago This Crust</a></li>
          <li><a href="#">Detroit Style</a></li>
          <li><a href="#">New England Greek</a></li>
          <li><a href="#">New York Thin Crust</a></li>
          <li><a href="#">St. Louis Style</a></li>
          <li><a href="#">Cologne Style</a></li>
          <li><a href="#">New Fish (Coder Style)</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
