.wrapper {
  background-color: #171a1f;
}

.wrapper > img {
  width: 100%;
}

.mainScreenBG {
  background-image: url(../../assets/design_sucks.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menuList ul {
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 200px;
  max-width: 100%;
  padding: 0;
}

.menuList li {
  margin: 5px 0 10px 0;
  padding-bottom: 10px;
  font-size: 14px;
  width: 100%;
  line-height: 19px;
  color: #ccc;
}

.menuList a {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border-left: 2px solid transparent;
  padding-left: 12px;
}

.menuList a:focus {
  border-left: 2px solid #ccc;
  color: #fff;
}

.menuList a:active {
  border-left: 2px solid #ccc;
  color: #fff;
}

.menuList {
  padding: 0 37px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  height: 5px;
}
