/* .imgWrapper {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -5px;
  background-image: url(../../assets/restapp-pizza.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
} */

.imgWrapper {
  position: relative;
}

.imgWrapper > :first-child {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.imgWrapper > :last-child {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.imgWrapper :nth-child(2) {
  width: 100%;
}
