.mainScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
  height: 100vh;
  background-color: #171a1f;
}

.mainScreen .menuList {
  height: fit-content;
}

.mainScreenBG {
  background-image: url(../../assets/design_sucks.png);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
}
