.reservationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.reservationBG {
  background-image: url(../../assets/reservation_BG.png);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
  padding-bottom: 45px;
  height: fit-content;
}
